{% embed "layouts/blank_frontend.twig" with {'current_pages' : 'core_home'} %}

{% import '@core/macros/form.twig' as form %}

{% block title %} Forgot Password {% endblock %}


{% block container %}
<section class="container g-py-100">
    <div class="row justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-5">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                <header class="text-center mb-4">
                    <h1 class="h4 g-color-black g-font-weight-400">Forgot Password?</h1>
                    <p>Enter your e-mail address to reset your password.</p>
                </header>

                {% include 'layouts/partials/flash.twig' %}

                <!-- Form -->
                <form class="g-py-15" action="{{ path_for('forgot-password') }}" method="POST">
                  {{ csrf() }}
                  <!-- (placeholder, name, value, id, icon, class, type) -->
                  {{ form.text_icon_bt4('Email Address', 'email', null, 'email', 'icon-finance-067 u-line-icon-pro', 'email') }}

                  {{ form.custom('recaptcha', recaptcha()) }}
                  <button value="Reset Password"  class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="submit">Get New Password</button>
                </form>
                <!-- End Form -->
            </div>

            <div class="row justify-content-between mb-5">
                <div class="col align-self-center text-center">
                    <p class="g-font-size-13">Have not recieved an email?
                        <a href="{{path_for('home')}}">Click here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% endembed %}


