{% embed "layouts/blank_frontend.twig" with {'current_pages' : 'core_home'} %}
  {% import '@core/macros/form.twig' as form %}

  {% block title %} Reset Password {% endblock %}

  {% block container %}
  <section class="container g-py-100">
      <div class="row justify-content-center">
          <div class="col-sm-9 col-md-7 col-lg-5">
              <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                  <header class="text-center mb-4">
                      <h1 class="h4 g-color-black g-font-weight-400">Reset Password?</h1>
                      <p>Enter your password to reset your password.</p>
                  </header>

                  {% include 'layouts/partials/flash.twig' %}

                  <!-- Form -->
                  <form action="{{ currentRoute }}" method="POST">
                    {{ csrf() }}

                    {{ form.text_icon_bt4('Password', 'password', null, 'password', 'icon-media-094 u-line-icon-pro', null, 'password') }}
                    {{ form.text_icon_bt4('Password', 'password_confirm', 'password_confirm', null, 'icon-media-094 u-line-icon-pro', null, 'password') }}
                    {{ form.hidden('reminder', requestParams['reminder'], 'reminder') }}
                    {{ form.hidden('email', requestParams['email'], 'email') }}
                    <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="submit">Reset Password</button>
                  </form>
                  <!-- End Form -->
              </div>

          </div>
      </div>
  </section>
  {% endblock %}


{% endembed %}





